/* In src/locomotive-scroll.css */
/* This is a minimal example, you might need more from the actual library */

html.has-scroll-smooth {
    overflow: hidden;
  }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px; /* Adjust as needed */
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.4); /* Your scrollbar color */
    border-radius: 10px;
    cursor: grab;
  }
  
  .has-scroll-dragging .c-scrollbar,
  .has-scroll-scrolling .c-scrollbar {
    opacity: 1;
  }